.table-style {
  border: 4px solid var(--primary);
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

.table-style thead tr th {
  font-size: 22px;
  padding: 8px;
  border: 4px solid var(--primary);
}

.table-style thead {
  border-bottom: 4px solid var(--primary);
}

.table-style td,
.table-style th {
  font-size: 18px;
  text-align: left;
  padding: 5px;
}
